//fonts

$font_0: 'Roboto';
$font_1: sans-serif;
$font-awesome: icomoon;
$font-ICO: IcoFont;
$assetspath: "../../assets/images";
//colors
$white: #ffffff;
$white-dark: #eeeeee;
$black: #000000;
$dark-font: #222222;
$grey-dark: #2d2a25;
$font-color:#666666;
$grey: #777777;
$grey-light: #a1a1a1;
$border:#dddada;
$round-border: #dddddd;
$grey-lighter: #f1f3f3;
$theme-deafult: #00b2a9;
$grey-font: #938d8c;
$dark-footer: #2e2726;
$darker-footer: #25221e;
$border-color: #38352f;
$border-grey: #f1f5f4;
$font-grey: #aaaaaa;
$star-yellow: #ffa200;
$top-header: #00b2a9;
$breadcrumb-section: #ffffff;
$breadcrumb-font: #828282;
$header: #F1F3F3;
$header-font: #666666;
$mobile-icon: #666666;
$grey-about: #f7f7f7;
$grey3: #efefef;
